.navreally-light {
    background-color: white;
}

.buttonreally-light {
    background-color: white;
    border: none;
}

.buttonreally-light:hover {
    background-color: whitesmoke;
    border: none;
}

.text-link:hover {
    cursor: pointer;
}

.searchForm {
    width: 300px;
    border-radius: 5px;
    border-color: whitesmoke;
}


/* tampilan device */
@media only screen and (max-width: 480px) {
    .searchForm {
        width: 100%;
    }
}